<!-- Sidebar with collapse functionality -->
<div class="sidebar p-3 sidebar-collapse" id="sidebar">
    <!-- Product Section -->
    <h5 class="text-white">產品</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link {% if product_type == 'productA' %}active{% endif %}"
                href="{% url 'product_page' product_type='productA' %}">產品A</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if product_type == 'productB' %}active{% endif %}"
                href="{% url 'product_page' product_type='productB' %}">產品B</a>
        </li>
    </ul>
    {% if user.is_authenticated %}
    <h5 class="text-white">個人資料</h5>
    <!-- Display user funds -->
    <p class="text-white">用戶: {{ user.username }}</p>
    <p class="text-white">餘額: ${{ user.funds }}</p>
    {% endif %}
</div>
