container_commands:
  001_migrate:
    command: |
      if [ "$IS_WORKER" == "false" ]; then
        source /var/app/venv/*/bin/activate && python3 manage.py migrate
      fi
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: binary_product.settings